[Unit]
Description=GrumpyChat Daemon - distributed IRC

[Service]
User=grumpyd
ExecStart=/usr/local/bin/grumpyd -vd -c /etc/grumpy/grumpy.ini

[Install]
WantedBy=default.target
